<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather page</title>
    <style>
        body {
            color: #fff;
            background: rgb(203, 199, 163);
            text-align: center;
            padding-top: 100px;
        }
    </style>
</head>
<body>
    <h1>This is a weather page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima, debitis amet maxime veniam error temporibus blanditiis expedita fugit, earum distinctio totam perferendis sunt unde! Possimus nostrum quas reprehenderit culpa aut?</p>
    <a href="/about">Poltava</a>
</body>
</html>